<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>MovieApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav>
        <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ url_for('index') }}" class="logo">MovieApp</a>


        </div>
    </nav>

    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>